
/*
 *  =================================================================
 *
 *    10.01.25   <--  Date of Last Modification.
 *                   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  -----------------------------------------------------------------
 *
 *  **** Module  :  css/cofe.theme.aliceblue.css
 *       ~~~~~~~~~
 *  **** Project :  jsCoFE - javascript-based Cloud Front End
 *       ~~~~~~~~~
 *  **** Content :  Common Style Sheets
 *       ~~~~~~~~~
 *
 *  (C) E. Krissinel, M. Fando  2024-2025
 *
 *  =================================================================
 *
 */

.main-scene  {
  background-color  : rgb(243, 250, 255);
/*  border-style      : none;
  margin            : 0px 0px 0px 0px;
  padding-top       : 0px;
  padding-left      : 6px;
  padding-bottom    : 0px;
  padding-right     : 0px; */
  /* background-image  : url("../images_png/background_remote.png"); */
  /* background-color    : "alicablue"; */
  /*  // "background-color"    : "rgb(231, 250, 255)";  */
  /* background-repeat : no-repeat; */
  /* background-size   : cover;     */
  /* background-position : center center; */
}

.login-scene  {
  margin              : 0;
  padding             : 0;
  background-image    : url("../images_png/background_login.png");
  /* background-color: rgba(243,250,255,0.0);
  background-blend-mode: lighten; */
  /* background-size: auto 120vh; */
  background-size     : 30vw auto;
  /* background-size     : 480px auto; */
  background-repeat   : no-repeat;
  background-position : left center;
  /* height: 100vh; */
}


.flash-panel  {
  display          : block;
  position         : absolute;
  visibility       : visible;
  opacity          : 1;
  left             : 0px;
/*  bottom           : -1px;  this does not work in some cases, therefore ugly 'top' */
  top              : 0px;
  /* width            : 100px; */
  margin-top       : 0px;
  margin-left      : 0px;
  margin-right     : 0px;
  margin-bottom    : 0px;
  padding-top      : 4px;
  padding-left     : 8px;
  padding-bottom   : 4px;
  padding-right    : 8px;
  /* height           : 16px; */
  /* background-color : rgb(240, 250, 255); */
  background-color : rgb(254, 251, 251);
  border-top       : 1px solid rgb(254, 251, 251);
  box-shadow       : 0px 8px 16px 0px black;
/*  box-shadow: 10px 10px lightblue; */
/*  background-color : rgba(240,250,255,0.67); */
  z-index          : 100;
}


.logo-panel  {
  position         : absolute;
  left             : 0px;
/*  bottom           : -1px;  this does not work in some cases, therefore ugly 'top' */
  top              : calc(100vh - 34px);
  width            : 100%;
  margin-top       : 0px;
  margin-left      : 0px;
  margin-right     : 0px;
  margin-bottom    : 0px;
  padding-top      : 0px;
  padding-left     : 0px;
  padding-bottom   : 0px;
  padding-right    : 0px;
  /* height           : 16px; */
  background-color : rgb(240, 250, 255);
  border-top       : 1px solid lightgray;
/*  box-shadow: 10px 10px lightblue; */
/*  background-color : rgba(240,250,255,0.67); */
}

.upper-panel  {
  /* position         : absolute; */
  /* left             : 0px; */
  /* bottom           : -1px;  this does not work in some cases, therefore ugly 'top' */
  /* top              : 0px; */
  width            : 100%;
  margin-top       : 0px;
  margin-left      : 0px;
  margin-right     : 0px;
  margin-bottom    : 0px;
  padding-top      : 0px;
  padding-left     : 0px;
  padding-bottom   : 0px;
  padding-right    : 0px;
  /* height           : 16px; */
  background-color : rgb(240, 250, 255);
  border-bottom    : 1px solid lightgray;
/*  box-shadow: 10px 10px lightblue; */
/*  background-color : rgba(240,250,255,0.67); */
}
