
/*
 *  =================================================================
 *
 *    09.04.20   <--  Date of Last Modification.
 *                   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  -----------------------------------------------------------------
 *
 *  **** Module  :  css/cofe.upload.css
 *       ~~~~~~~~~
 *  **** Project :  jsCoFE - javascript-based Cloud Front End
 *       ~~~~~~~~~
 *  **** Content :  Style Sheets for the Upload Widget
 *       ~~~~~~~~~
 *
 *  (C) E. Krissinel, A. Lebedev  2016-2020
 *
 *  =================================================================
 *
 */

.upload-filelist {
    background-color: rgba(255,255,255,1.0);
    overflow-x: auto;
    overflow-y: auto;
    max-height: 164px;
    width     : 100%;
    height    : 164px;
    padding   : 0px;
/*    resize    : both; */
    text-align: left;
    font-size : 90%;
    box-shadow: 0px 8px 16px 0px black;
}
