
/*
 *  =================================================================
 *
 *    05.12.24   <--  Date of Last Modification.
 *                   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  -----------------------------------------------------------------
 *
 *  **** Module  :  css/cofe.page_base.css
 *       ~~~~~~~~~
 *  **** Project :  jsCoFE - javascript-based Cloud Front End
 *       ~~~~~~~~~
 *  **** Content :  Common Style Sheets
 *       ~~~~~~~~~
 *
 *  (C) E. Krissinel, A. Lebedev  2016-2024
 *
 *  =================================================================
 *
 */

.main-page  {
  font-family    : Arial, Helvetica, sans-serif;
  width          : 100%;
  height         : calc(100vh - 32px);
  font-size      : 16px;
  line-height    : 1.2;
  border-style   : none;
  margin-top     : 0px;
  margin-left    : 0px;
  margin-right   : 0px;
  margin-bottom  : 0px;
  padding-top    : 0px;
  padding-left   : 0px;
  padding-right  : 0px;
  padding-bottom : 0px;
  overflow-x     : hidden;
  overflow-y     : hidden;
}

h1 {
  display       : block;
  font-size     : 24px;
  margin-top    : 22px;
  margin-bottom : 18px;
  margin-left   : 0;
  margin-right  : 0;
  font-weight   : bold;
}

h2 {
  display       : block;
  font-size     : 22px;
  margin-top    : 20px;
  margin-bottom : 16px;
  margin-left   : 0;
  margin-right  : 0;
  font-weight   : bold;
}

h3 {
  display       : block;
  font-size     : 18px;
  margin-top    : 16px;
  margin-bottom : 14px;
  margin-left   : 0;
  margin-right  : 0;
  font-weight   : bold;
}

pre {
  font-size : 14px;
}

.table-rations {
  /*font-family     : "Trebuchet MS", Arial, Helvetica, sans-serif;*/
  font-family     : Arial, Helvetica, sans-serif;
  width           : auto;
  vertical-align  : middle;
  font-size       : 14px;
  white-space     : nowrap;
}

.ration-warning {
  /*font-family     : "Trebuchet MS", Arial, Helvetica, sans-serif;*/
  font-family     : Arial, Helvetica, sans-serif;
  font-size       : 14px;
  font-weight     : bold;
  color           : darkorange;
}

.ration-critical {
  /*font-family     : "Trebuchet MS", Arial, Helvetica, sans-serif;*/
  font-family     : Arial, Helvetica, sans-serif;
  font-size       : 14px;
  font-weight     : bold;
  color           : red;
}

.pre-heavy {
  font-family : "Courier New";
  font-size   : 14px!important;
  font-weight : bold;
}

.spinning-cursor {
  cursor: wait; /* or 'progress' for a different type of spinning cursor */
}
