
.uglymol-page {
  overflow:hidden;
  font-size:16px;
/*  filter : invert(100%); */
/*  filter : invert(0.0) sepia(0.0) hue-rotate(0deg) saturate(1.0) contrast(1.0) brightness(1.0) grayscale(0.0);*/
}


canvas { display: block; }

#viewer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


#hud {
  font: 14px sans-serif;
  color: #ddd;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 8px;
  border-radius: 5px;
  z-index: 9;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

#hud u { padding: 0 8px; text-decoration: none;
         border: solid; border-width: 1px 0; }
#hud s { padding: 0 8px; text-decoration: none; opacity: 0.5; }


#help {
  display: none;
  font: 16px sans-serif;
  color: #eee;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: default;
  padding: 5px;
  border-radius: 5px;
  z-index: 9;
  white-space: pre-line;
}


#inset {
  width: 400px;
  height: 200px;
  background-color: #888;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}


a { color: #59C; }
