<div style="width:500px">
Dear $userName,
<p>
Your $appName account has been updated <b>BY ADMIN</b> as follows:
</p><p>
$appName URL: <b>$appURL</b><br>
Login name: <b>$userLogin</b><br>
E-mail: <b>$userEMail</b><br>
Licence: <b>$userLicence</b><br>
Feedback agreement: <b>$userFeedback</b><br>
Profile: <b>$userProfile</b><br>
Status: <b>$userStatus</b><br>
Disk quota: <b>$userStorage</b> MBytes (extendable to <b>$userDiskMax</b> MBytes)<br>
CPU daily quota: <b>$userCPUDay</b> hours<br>
CPU monthly quota: <b>$userCPUMonth</b> hours<br>
CloudRun daily quota: <b>$userCRunDay</b> jobs launched from command prompt<br>
Archive yearly quota: <b>$archiveYear</b> archived projects
</p><p>
This e-mail is sent only for your information. Should you require
any relevant details, please feel free to contact $appName Admin
at $maintainerEmail.
</p><p>
<b>CHECK OUT</b>
<i>$appName</i> <a href="$app_url/html/roadmap.html">roadmap</a>
for structure solution hints and video tutorials.
</p><p>
Please do not reply to this e-mail, because it was sent from
unmanned mailbox.
</p><p>
Sincerely yours,
</p><p>
$appName management.<br>
$maintainerEmail
</p>
</div>
