<div style="width:500px">
Dear $userName,

<p>
Your $appName account has been updated as follows:

<p>
$appName URL: <b>$appURL</b><br>
Login name: <b>$userLogin</b><br>
E-mail: <b>$userEMail</b><br>
Password: <b>*****</b><br>
Licence: <b>$userLicence</b><br>
Feedback agreement: <b>$userFeedback</b><br>

<p>
This e-mail is sent only for your information. However, if
update request was not initiated by you, please contact
$appName team at $maintainerEmail.

<p>
<b>CHECK OUT</b>
<i>$appName</i> <a href="$app_url/html/roadmap.html">roadmap</a>
for structure solution hints and video tutorials.

<p>
Please do not reply to this e-mail, because it was sent from
unmanned mailbox.

<p>
Sincerely yours,
<p>
$appName management.<br>
$maintainerEmail
</div>
