!#off  <-  change this for !#on in order to release the announcement
  
<h2>Maintenance Notice</h2>

Please note that CCP4 Cloud will be unavailable between 31 Mar 2023 17:00 UK time and
03 Apr 2023 10:00 UK time due to maintenance works on site.
<p>
<i>Participants of CCP4/APS Workshop at Argonne please read instructions 
<a target="_blank" href="https://ccp4serv6.rc-harwell.ac.uk/jscofe-dev/manuals/html-userguide/aps.html">here</a>.</i>
<p>
Apologies for any inconvenience.
