<div style="width:500px">
Dear $userName,
<p>
Checking for CCP4 updates failed for <b>$appName</b> setup at
<p><b>$appURL</b>
<p>which you maintain. This may be an intermittent failure die to poor network
connection, however, if these e-mails are persistent, it may be indicative of a
problem that needs to be addressed.
<p>This e-mail is only for your information.
</div>
