<div style="width:500px">
Dear $userName ($userLogin),
<p>
User <b>$ulogin</b> ($uname) shared $appName project
<p>
<b>[$project_id]: <i>$project_title</i></b>
<p>
with you.
<p>
You can join this project by clicking button <i>"Join"</i> on top of the
<i>Project List</i> and choosing project name from the drop-down menu.
<p>
Please do not reply to this e-mail, because it was sent from
unmanned mailbox.
<p>
Have a nice day.
<p>
Technical questions and bug reports: $maintainerEmail .
</div>
