<div style="width:500px">
Dear $userName,
<p>
Shared state of your $appName project
<p>
<b>[$project_id] <i>$project_title</i></b>
<p>
on CCP4 Cloud at <b>$appURL</b>
<p>
has changed as follows:
<p>
$msg
This message is only a notification. $appName projects can be shared or
unshared only by project owner. Contact $appName support if you did not
initiate this change.
<p>
Have a nice day.
<p>
Technical questions and bug reports: $maintainerEmail .
</div>
