<div style="width:500px">
Dear $userName,
<p>
Your $appName quota(s) at $appURL have been updated as below:
</p><p>
$quotas
</p><p>
This e-mail is sent only for your information. Should you require
any relevant details, please feel free to contact $appName Admin
at $maintainerEmail.
</p><p>
<b>CHECK OUT</b>
<i>$appName</i> <a href="$app_url/html/roadmap.html">roadmap</a>
for structure solution hints and video tutorials.
</p><p>
Please do not reply to this e-mail, because it was sent from
unmanned mailbox.
</p><p>
Sincerely yours,
</p><p>
$appName management.<br>
$maintainerEmail
</p>
</div>
