<div style="width:500px">
Dear $userName,
<p>
Project <b>$projectName</b> "<i>$projectTitle</i>", shared in $appName at
<b>$appURL</b> with you, was archived by project owner, and is no longer 
available to you via $appName sharing. You can unjoin the project in
your account.
</p><p>
Now, you can access the project from $appName Archive via the following
Archive ID:<p>
<b>$archiveID</b>
</p><p>
which can be also used for referencing your project in publications and similar
purposes.
</p><p>
Please do not reply to this e-mail, because it was sent from unmanned mailbox.
Contact your $appName maintainer if you have any questions regarding
the content of this e-mail.
</p><p>
Sincerely yours,
</p><p>
$appName management.<br>
$maintainerEmail
</p>
</div>
