<div style="width:500px">
Dear $userName,
<p>
Your $appName account:
<p>
$appName URL: <b>$appURL</b><br>
Login name: <b>$userLogin</b><br>
E-mail: <b>$userEMail</b>
<p>
was retired by Admin with the following result:
<p>
<b>$message</b>
<p>
Your projects and disk quota have been moved to the successor, chosen by Admin.
<p>
Please do not reply to this e-mail, because it was sent from unmanned mailbox.
Contact your $appName maintainer if you have any questions regarding
the content of this e-mail.
<p>
Sincerely yours,
<p>
$appName management.<br>
$maintainerEmail
</div>
