<div style="width:500px">
Dear $userName,

<p>
Thank you for registering with $appName.

<p>
Your $appName URL is:       <b>$appURL</b><br>
Your login name is:         <b>$userLogin</b><br>
Your temporary password is: <b>$text1</b>

<p>
Please use these data to login in $appName next time. When you log in, you may
change your password in the <i>"My Account"</i> section, accessible from the
<i>Main Menu</i> found in the top-left corner of the page.

<p>
<b>PLEASE NOTE:</b>
We are doing our best to keep <i>$appName</i> running, yet, 24/7 access
cannot be guaranteed. Your data and projects may be unavailable to you from
time to time. We recommend to backup your projects periodically by exporting
them to your computer. They may be further imported in local instance of
<i>$appName</i>, which is a part of standard CCP4 setup, and continued there.

<p>
<b>CHECK OUT</b>
<i>$appName</i> <a href="$app_url/html/roadmap.html">roadmap</a>
for structure solution hints and video tutorials.

$text2

<p>
Please do not reply to this e-mail, because it was sent from
unmanned mailbox.
<p>
Sincerely yours,
<p>
$appName management.<br>
$maintainerEmail
</div>
