
/*
 *  =================================================================
 *
 *    02.05.24   <--  Date of Last Modification.
 *                   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  -----------------------------------------------------------------
 *
 *  **** Module  :  css/gui/gui.widgets.css
 *       ~~~~~~~~~
 *  **** Project :  jsCoFE - javascript-based Cloud Front End
 *       ~~~~~~~~~
 *  **** Content :  GUI Widgets Style Sheets
 *       ~~~~~~~~~
 *
 *  (C) E. Krissinel, A. Lebedev 2016-2024
 *
 *  =================================================================
 *
 */


body {
  font-family : "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
  font-size   : 16px;
}

/* grid-layout defines a grid to lay widgets in,
   spanning all width of the grid holder */

.grid-layout {
  width          : 100%;
  height         : auto;
  font-size      : 16px;
  table-layout   : auto;
  border         : 0px;
  margin-top     : 0px ;
  padding-top    : 0px ;
  margin-bottom  : 0px ;
  padding-bottom : 0px ;
}
.grid-layout td {
  font-size      : 16px;
  vertical-align : top ;
  margin-top     : 0px ;
  padding-top    : 1px ;
  margin-bottom  : 0px ;
  padding-bottom : 0px ;
}

/* grid-layout-full defines a grid to lay widgets in,
   spanning all width and height of the grid holder */

.grid-layout-full {
  width          : 100%;
  height         : 98vh;
  /* height         : calc(100vh - 32px); */
  font-size      : 16px;
  table-layout   : auto;
  border         : 0px ;
  margin-top     : 0px ;
  padding-top    : 0px ;
  margin-bottom  : 0px ;
  padding-bottom : 0px ;
}
.grid-layout-full td {
  font-size      : 16px;
  vertical-align : top ;
  margin-top     : 0px ;
  padding-top    : 1px ;
  margin-bottom  : 0px ;
  padding-bottom : 0px ;
}

/* grid-layout-compact defines a grid to lay widgets in,
   taking as much as necessary width in the left-hand
   side part if the grid holder */

.grid-layout-compact {
  width          : auto;
  height         : auto;
  font-size      : 16px;
  table-layout   : auto;
  border         : 0px ;
  margin-top     : 0px ;
  padding-top    : 0px ;
  margin-bottom  : 0px ;
  padding-bottom : 0px ;
}
.grid-layout-compact td {
  font-size      : 16px;
  vertical-align : top ;
  margin-top     : 0px ;
  margin-bottom  : 0px ;
  padding-top    : 1px ;
  padding-bottom : 0px ;
  padding-left   : 0px ;
  padding-right  : 8px ;
}


.toolbar {
    width     : 100%;
    font-size : 16px;
    padding   : 4px;
    /*    display: inline-block; */
}
/* support: IE7
*+html .toolbar {
    display: inline;
}
*/


.combobox-overflow { height: 100px; }

/*
.ui-selectmenu-button {
    vertical-align : middle;
}
*/

.ui-selectmenu-menu .ui-menu {max-height: 300px;}

.ui-dialog .ui-dialog-titlebar {
  height: 16px; /* height of title bar */
}


.popup-button {
  display          : inline-block;
  background-color : transparent;
  border           : 1px solid transparent;
  /* opacity          : 0.6; */
  color            : #6A6A6A;
  cursor           : pointer;
}

.popup-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0; /* Initially set to 0 */
    background-color: #21618C; /* Change this to your desired underline color */
    transition: height 0.3s ease; /* Add a transition effect */
}

.popup-button:hover {
  /* background-color : #EEEEEE; */
  /* border           : 1px solid darkgrey; */
  background-color : transparent;
  color            : #000000;
  border           : 1px solid transparent;
  /* opacity          : 1.0; */
}


/* Define the style for the underline when hovered */
.popup-button:hover::after {
    height: 2px; /* Adjust this value for thickness */
}